<p-dialog
  header="Top Up"
  [modal]="true"
  [visible]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">Top up your account</span>
  <form>
    <div style="margin-bottom: 10px"></div>
    @if (elementsOptions.clientSecret) {
    <ngx-stripe-elements [stripe]="stripe" [elementsOptions]="elementsOptions">
      <ngx-stripe-payment [options]="paymentElementsOptions" />
    </ngx-stripe-elements>
    }
    <div style="margin-bottom: 20px"></div>
    <mat-divider></mat-divider>
    <div style="margin-bottom: 20px"></div>
    <div class="flex justify-content-center">
      <p-button
        label="Pay ${{ amount }}"
        (onClick)="pay()"
        [loading]="paying()"
        [style]="{ minWidth: '10rem' }"
      />
    </div>
  </form>
</p-dialog>
